name: Test
on:
  push:
  pull_request:
  workflow_dispatch:

env:
  SCHEMALEX_DATABASE_HOST: "127.0.0.1"
  SCHEMALEX_DATABASE_PORT: "3306"
  SCHEMALEX_DATABASE_USER: "schemalex"
  SCHEMALEX_DATABASE_PASSWORD: "verysecret"

jobs:
  list:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: list
        id: set-matrix
        run: |
          import json
          mysql = [
              '8.0',
              '5.7',
              '5.6',
              'mariadb-10.7',
              'mariadb-10.6',
              'mariadb-10.5',
              'mariadb-10.4',
              'mariadb-10.3',
              'mariadb-10.2',
          ]
          includes = []
          # MySQL versions compatibility check
          for v in mysql[1:]:
              includes.append({'os': 'ubuntu-latest', 'mysql': v})
          matrix = {
              # OS vs Go versions
              'os': [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ],
              'mysql': mysql[:1],
              'include': includes
          }
          output = json.dumps(matrix, separators=(',', ':'))
          print('::set-output name=matrix::{0}'.format(output))
        shell: python

  test:
    name: Test
    needs: list
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.list.outputs.matrix) }}

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.18.0-beta2"
          stable: "false"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: restore cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: ${{ matrix.mysql }}
          user: ${{ env.SCHEMALEX_DATABASE_USER }}
          password: ${{ env.SCHEMALEX_DATABASE_PASSWORD }}

      - name: Test
        run: make test
        shell: bash

      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
          flag-name: Go-${{ matrix.go }}-OS-${{ matrix.os }}-MYSQL-${{ matrix.mysql }}
          parallel: true

  # notifies that all test jobs are finished.
  finish:
    if: always()
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true

  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.18.0-beta2"
          stable: "false"
      - name: Check GoReleaser configure
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: check

  check-diff:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: "1.18.0-beta2"
          stable: "false"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Before script
        run: |
          make generate
        shell: bash
      - name: Diff check
        run: make check-diff
        shell: bash
