name: Test
on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  SCHEMALEX_DATABASE_HOST: "127.0.0.1"
  SCHEMALEX_DATABASE_PORT: "3306"
  SCHEMALEX_DATABASE_USER: "schemalex"
  SCHEMALEX_DATABASE_PASSWORD: "verysecret"

jobs:
  list:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: list
        id: set-matrix
        run: |
          import json
          import os
          mysql = [
              '9.0',
              '8.4', # LTS
              '8.0',
              '5.7',
              'mariadb-11.4',   # LTS
              'mariadb-11.2',
              'mariadb-11.1',
              'mariadb-10.11',  # LTS
              'mariadb-10.6',   # LTS
              'mariadb-10.5',   # LTS
          ]
          includes = []
          # MySQL versions compatibility check
          for v in mysql[1:]:
              includes.append({'os': 'ubuntu-latest', 'mysql': v})
          matrix = {
              # OS vs Go versions
              'os': [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ],
              'mysql': mysql[:1],
              'include': includes
          }
          output = json.dumps(matrix, separators=(',', ':'))
          with open(os.environ['GITHUB_OUTPUT'], 'a', encoding='utf-8') as f:
            f.write('matrix={0}\n'.format(output))
        shell: python

  test:
    name: Test
    needs: list
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.list.outputs.matrix) }}

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - uses: shogo82148/actions-setup-mysql@27e74fac04c136a9f4c2dc2ed457df57331b3e0c # v1.47.0
        with:
          mysql-version: ${{ matrix.mysql }}
          user: ${{ env.SCHEMALEX_DATABASE_USER }}
          password: ${{ env.SCHEMALEX_DATABASE_PASSWORD }}

      - name: Test
        run: make test
        shell: bash

      - name: Send coverage
        if: always()
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          path-to-profile: profile.cov
          flag-name: Go-${{ matrix.go }}-OS-${{ matrix.os }}-MYSQL-${{ matrix.mysql }}
          parallel: true

  # notifies that all test jobs are finished.
  finish:
    if: always()
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          parallel-finished: true

  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Check GoReleaser configure
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: "~> v2"
          args: check

  check-diff:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Before script
        run: |
          make generate
        shell: bash
      - name: Diff check
        run: make check-diff
        shell: bash
